#FASTQ	SAMPLEID	DATASET	REFERENCE_GRCh38_GRCm38	SEQUENCING_CENTRE	PLATFORM	RUN_TYPE_SINGLE_PAIRED	LIBRARY
#sample1_1.fastq.gz	SAMPLEID1	Batch_1	GRCh38	KCCG	ILLUMINA	PAIRED	1
#sample1_2.fastq.gz     SAMPLEID1       Batch_1 GRCh38  KCCG    ILLUMINA        PAIRED  1
#sample2.fastq.gz	SAMPLEID2	Batch_2	GRCm38	KCCG	ILLUMINA	SINGLE	1
